:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

ul {
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    width: min(90%, 1080px);
    margin-inline: auto;
}

.grid {
    display: grid;
}

section h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    text-align: center;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
    text-align: center;
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    /* width: 90%;
    min-width: 288px;
    max-width: 900px; */
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: 50%;
    top: 100%;
    display: block;
    padding: 15px;
    width: 229px;
    /* height: 48px; */
    background: var(--off-white);
    /* Sombra  */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
    transform: translate(-50%, -50%);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("/assets/icons/down-arrow.svg");
}

/* ESTILOS MIOS */

main {
    width: 100%;
    background-color: var(--off-white);
}

.main-exchange-container {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-inline: auto;
    background-image: url("assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container p {
    margin-bottom: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: hsla(0, 0%, 73%, 1);
}

.main-tables-container {
    width: 65%;
    margin-inline: auto;
}

.main-tables-container .comission-content h3 {
    color: var(--secondary-blue);
}

.main-tables-container h3 {
    margin-bottom: 12px !important;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--bitcoin-orange);
    text-align: left;
}

.main-tables-container .grid {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    grid-gap: 1.5px;
}

.main-tables-container .grid > * {
    padding: 10px 12px;
    background-color: var(--just-white);
}

.main-tables-container .grid > :nth-child(odd) {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500 !important;
}
.main-tables-container .grid > :nth-child(even) {
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: 400;
}

.main-tables-container .grid .grid--icon {
    margin-left: 10.5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}
.main-tables-container .grid .grid--icon.up {
    background-image: url("assets/icons/trending-up.svg");
}
.main-tables-container .grid .grid--icon.down {
    background-image: url("assets/icons/trending-down.svg");
}

.main-tables-container .table-update-date p {
    margin-inline: auto;
    padding: 8px;
    width: fit-content;
    background: #ffe9d5;
    border-radius: 8px;
    color: var(--warm-black);
    font-size: 1.2rem;
    font-weight: 300;
}

.main-tables-container .comission-content .table-update-date p {
    background: var(--soft-blue);
}

/* Benefits */

.benefits {
    background-color: var(--black);
    color: var(--just-white);
}

.benefits .container {
    position: relative;
    padding: 64px 0;
}

.benefits .potato-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefits h2 {
    color: var(--just-white);
}
.benefits p {
    margin-bottom: 24px;
    color: var(--grey);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.benefits .benefits--description {
    text-align: center;
}

.benefits .benefits--cards {
    gap: 16px;
}

.benefits--cards .card {
    padding: 16px;
    background-color: var(--warm-black);
    border-radius: 4px;
}

.card img {
    width: 20px;
    aspect-ratio: 1;
    margin-bottom: 12px;
}

.card p {
    margin: 0;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.discover {
    min-height: 50vh;
    background: url("assets/img/bitcoinbaby2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 64px;
    text-align: center;
}

.discover h2 {
    color: var(--just-white);
}

.plan {
    padding-block: 64px;
    text-align: center;
}

.plan--header {
    width: min(90%, 1080px);
    margin-inline: auto;
}

.plan--subtitle {
    margin-bottom: 50px;
    color: hsla(0, 0%, 46%);
    font-size: 1.4rem;
}

.plan--prices-slider {
    display: flex;
    gap: 10px;
    padding: 16px;
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
}

.plan--prices-card {
    position: relative;
    flex: 1 0 190px;
    max-width: 223px;
    padding: 31px 19px 24px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    scroll-snap-align: center;
}

.recommended {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 8px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.plan--prices-card h3 {
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.plan-card--price {
    margin-bottom: 12px;
    font-size: 5.2rem;
    list-style: 6.2rem;
    font-weight: bold;
}

.plan--prices-card:nth-of-type(1) .plan-card--price,
.plan--prices-card:nth-of-type(3) .plan-card--price {
    color: var(--grey);
}

.plan-card--price span {
    color: var(--grey);
    font-size: 1.2rem;
    line-height: 1.5rem;
    vertical-align: 25px;
}

.plan-card--saving {
    margin-bottom: 16px;
    color: var(--grey);
    font-size: 1.2rem;
}

.plan-card--ca {
    width: 100%;
    padding: 12px 16px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.plan-card--ca span {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    background-image: url(assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

footer {
    padding: 60px 40px;
    background-color: var(--bitcoin-orange);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    width: 50%;

}

footer .footer--links {
    color: var(--just-white);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.footer--links li  {
    margin-bottom: 8px;
}