.header--title-container h1 {
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 4.2rem;
}

.section--description {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
}

section h2 {
    font-size: 4rem;
    line-height: 4.2rem;
}


.plan--prices-slider {
    justify-content: center;
}

.main-tables-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.benefits .benefits--cards {
    grid-template-columns: repeat(2, 1fr);
}